.info-user{
    /* display: inline-block; */
    vertical-align: top;
    /* margin-left: 20px; */
    margin-bottom: 1em;
}
.name{
    font-size: 3em;
}
.login {
    font-size: 1.2em;
}
.login a{
    color: #0000ff;
}
.login a:hover {
    color: #3333f7;
}